/* Ajustes para hacer el body un contenedor flex */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Se asegura de que la página ocupe toda la altura de la pantalla */
    margin: 0;
    padding: 0;
    background-color: #c7e6f8;
}

/* Cabecera */
header {
    background-color: #0e4153;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo de la pastelería */
header .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Barra de navegación */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: #f6a9e3;
    padding: 10px;
}

/* Enlaces de navegación */
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
}

/* Contenedor principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Permite que este contenedor ocupe el espacio restante de la pantalla */
    padding: 20px;
}

/* Sección de productos */
.products {
    width: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-item {
    width: 23%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-img:hover {
    transform: scale(1.1);
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0e4153;
    color: white;
}
